<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>

    <link rel="stylesheet" href="/css/auth/auth.css">
</head>

<body>

<div class="container">

    <!-- LEFT -->
    <div class="left">
        <h1>CỔNG<br>ĐĂNG<br>NHẬP</h1>
    </div>

    <!-- RIGHT -->
    <div class="right">

        <h2>ĐĂNG NHẬP</h2>

        <input type="text" id="username" placeholder="Email hoặc SĐT">
        <input type="password" id="password" placeholder="Mật khẩu">

        <button onclick="login()">ĐĂNG NHẬP</button>

        <p>Chưa có tài khoản?</p>
        <a href="/register">Tạo tài khoản</a>

    </div>

</div>

<script src="/js/auth/login.js"></script>
</body>
</html>