<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐĂNG NHẬP | EAZY VIBES</title>
    
    <!-- LIBRARIES -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700;900&family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/auth/auth.css">
</head>
<body>
<div class="container">
    <div class="left">
        <!-- BIẾN TEXT TRANG TRÍ THÀNH LOGO LINK -->
        <a th:href="@{/}" class="big-logo-link">
            <h1>EAZY<br>VIBES</h1>
        </a>
    </div>

    <div class="right">
        <h2>ĐĂNG NHẬP</h2>
        <div class="input-group">
            <input type="text" id="username" placeholder="Email hoặc SĐT" required>
        </div>
        <div class="input-group">
            <input type="password" id="password" placeholder="Mật khẩu" required>
        </div>
        
        <button id="btn-login" onclick="login()">ĐĂNG NHẬP</button>
        
        <p>Chưa có tài khoản?</p>
        <a th:href="@{/register}">Tạo tài khoản</a>
    </div>
</div>

<script src="/js/auth/login.js"></script>
</body>
</html>