<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>

    <link rel="stylesheet" href="/css/auth/auth.css">
</head>

<body>

<div class="container">

    <!-- LEFT -->
    <div class="left">
        <h1>THAM<br>GIA<br>NGAY</h1>
    </div>

    <!-- RIGHT -->
    <div class="right">

        <h2>ĐĂNG KÝ</h2>

        <input type="text" id="name" placeholder="Họ tên">
        <input type="text" id="email" placeholder="Email">
        <input type="text" id="phone" placeholder="SĐT">
        <input type="text" id="address" placeholder="Địa chỉ">
        <input type="password" id="password" placeholder="Mật khẩu">
        <input type="password" id="confirmPassword" placeholder="Nhập lại mật khẩu">

        <button onclick="register()">TẠO TÀI KHOẢN</button>

        <p>Đã có tài khoản?</p>
        <a href="/login">Đăng nhập</a>

    </div>

</div>

<script src="/js/auth/register.js"></script>
</body>
</html>