<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Products</title>

    <!-- Thêm thư viện để chạy thông báo -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/components/admin-sidebar.css">
    <link rel="stylesheet" href="/css/admin/products.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>

<div class="admin-container">

    <!-- SIDEBAR -->
    <div th:replace="components/admin-sidebar :: sidebar"></div>

    <!-- MAIN -->
    <div class="main-content">

        <div class="top-bar">
            <h1>QUẢN LÝ SẢN PHẨM</h1>

            <button class="btn-add" onclick="goAddProduct()">
                + Thêm sản phẩm
            </button>
        </div>

        <div class="action-bar">

            <!-- LEFT: FILTER -->
            <div class="filter-bar">
                <input type="text" id="search" placeholder="Tìm sản phẩm...">

                <button class="filter-btn active" onclick="filterStatus('', this)">TẤT CẢ</button>
                <button class="filter-btn" onclick="filterStatus('ACTIVE', this)">ACTIVE</button>
                <button class="filter-btn" onclick="filterStatus('INACTIVE', this)">INACTIVE</button>
                <button class="filter-btn" onclick="filterStatus('OUT_OF_STOCK', this)">HẾT HÀNG</button>

                <select id="price">
                    <option value="">Tất cả giá</option>
                    <option value="0-200000">Dưới 200.000đ</option>
                    <option value="200000-500000">200.000đ - 500.000đ</option>
                    <option value="500001-99999999">Trên 500.000đ</option>
                </select>
            </div>

            <!-- RIGHT: SORT -->
            <div class="sort-container">
                <select id="sort">
                    <option value="newest">Mới nhất</option>
                    <option value="oldest">Cũ nhất</option>
                    <option value="price_asc">Giá tăng</option>
                    <option value="price_desc">Giá giảm</option>
                </select>
            </div>

        </div>

        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Ảnh</th>
                    <th>Tên</th>
                    <th>Danh mục</th>
                    <th>Giá</th>
                    <th>Tồn kho</th>
                    <th>Variants</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
                </thead>

                <tbody id="productTable"></tbody>
            </table>
            <div id="pagination" class="pagination"></div>

        </div>

    </div>

</div>

<script src="/js/admin/products.js"></script>
</body>
</html>