<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="/css/profile/profile.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

<!-- PROFILE -->
<div class="container">

    <h1>HỒ SƠ CÁ NHÂN</h1>

    <div class="profile-box">
        <p><b>Họ tên:</b> <span id="name"></span></p>
        <p><b>Email:</b> <span id="email"></span></p>
        <p><b>SĐT:</b> <span id="phone"></span></p>
        <p><b>Địa chỉ:</b> <span id="address"></span></p>
        <img id="avatar" width="120"/>
    </div>

    <h2>LỊCH SỬ ĐƠN HÀNG</h2>

    <table>
        <thead>
        <tr>
            <th>Mã đơn</th>
            <th>Ngày</th>
            <th>Trạng thái</th>
            <th>Tổng tiền</th>
        </tr>
        </thead>

        <tbody id="orderTable"></tbody>
    </table>

</div>

<script src="/js/profile/profile.js"></script>
</body>
</html>